* {
    padding: 0;
    margin: 0;
    background-color: rgb(213, 231, 225);
}
body{
font-family: sans-serif;
height: 100%;
position: relative;
}
svg {
    height: 20px;
    width: 20px;
}
.countainer{
height: 100%;
padding: 14px;
}
img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.swg{
display: flex;
justify-content: right;
flex-direction: row;
}
.span1{
color: black;
font-family: sans-serif;
font-weight: bold;
}
.profile{
display: flex;
justify-content: space-between;
flex-direction: row;
}
.q1{
color: black;
display: flex;
flex-direction: column;
}
.w1{
display: flex;
flex-direction: column;
font-weight: bold;
color: black;
}
.w2{
color: rgb(65, 53, 53);
font-weight: 200px;
display: flex;
justify-content: center;
}
.w3{
color: rgb(65, 53, 53);
display: flex;
justify-content: end;

}
.head{
    display: flex;
justify-content: space-between;

}
.fard{
display: flex; 
flex-direction: column;  
    gap: 20px;
}
.a2{
    display: flex; 
    justify-content: space-between;
}
.a4{
    display: flex; 
    justify-content: space-between;  
}

.a6{
      display: flex; 
    justify-content: space-between;
}
.svgg{
height: 60px;
width: 60px;
position: fixed;
bottom: -120%;
left: 85%;
}

